<IfModule mod_rewrite.c>
  RewriteEngine On

  # Force WWW and HTTPS
  RewriteCond %{HTTP_HOST} !^www\. [NC,OR]
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://www.podologasoley.com/$1 [L,R=301]

  # Redirect old domains if possible (if they point to this same server)
  RewriteCond %{HTTP_HOST} podologialoslagos\.com [NC,OR]
  RewriteCond %{HTTP_HOST} soley-podologia\.cl [NC]
  RewriteRule ^(.*)$ https://www.podologasoley.com/$1 [L,R=301]
</IfModule>

<IfModule mod_expires.c>

  ExpiresActive On

  # Default directive
  ExpiresDefault "access plus 1 month"

  # My favicon
  ExpiresByType image/x-icon "access plus 1 year"

  # Images
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpg "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/webp "access plus 1 month"

  # CSS
  ExpiresByType text/css "access plus 1 month"

  # JavaScript
  ExpiresByType application/javascript "access plus 1 month"

</IfModule>
