<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-sticky-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="index.html">
            <img src="assets/img/logo_soley_sf.gif" alt="Logo Soley Podología" class="navbar-logo me-2">
            <span class="navbar-brand-text">Podóloga Soley</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item"><a class="nav-link" href="index.html#hero">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#servicios">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#horariosModal">Horarios</a></li>
                    <li class="nav-item"><a class="nav-link" href="cuidado-de-tus-pies.html">Cuidado de tus Pies</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#sobre-mi">Sobre Mí</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>